.main__fh{
  padding: 16px 16px;
}

.delivery-params__fh{
  overflow: hidden;
}

.delivery-date-time__fh{
  display: inline-block;
  float: left;
  margin-right: 60px;
}

.date-time-title__fh{
  text-align: center;
  margin-bottom: 16px;
  margin-right: 60px;
}

#input-file{
  display: none;
}

.item__fh{
  width: 274px;
  margin: 8px;
  float: left;
}

a {
  cursor: pointer;
}

.panel-body{
  text-align: center;
}

.btn-next__fh{
  float: right;
  margin-top: -38px;
}

.minutes .glyphicon-chevron-up{
  display: none;
}

.minutes .glyphicon-chevron-down{
  display: none;
}

.item-qnt__fh{
  width: 20%;
  text-align: center;
  margin: 0 4px;
  height: 33px;
}