<div class="modal-header">
  <h3 class="modal-title">Заказ оформлен.</h3>
</div>
<div class="modal-body">
  В ближайшее время, наш оператор свяжется с вами <br>для подтверждения заказа.
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="modalCompleteOrderCtrl.ok()">OK</button>
</div>