<div>
  <h3 class="text-center title">Доставка</h3>
  <button class="btn btn-default btn-next__fh" ng-click="deliveryCtrl.completeOrder()">
    Дальше
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>
</div>
Нужна ли доставка заказа?
<div class="radio">
  <label>
    <input
      type="radio"
      name="optionsRadios"
      ng-value="false"
      checked
      ng-model="deliveryCtrl.needDelivery">
    Нет. Я заберу заказ самостоятельно из лаборатории по адресу: г.Москва, Волгоградский пр-т, д.5
  </label>
</div>
<div class="radio">
  <label>
    <input
      type="radio"
      name="optionsRadios"
      ng-value="true"
      ng-model="deliveryCtrl.needDelivery">
    Да. Доставьте заказ курьером.
  </label>
</div>

<div ng-if="deliveryCtrl.needDelivery === true">
  Адрес доставки:
  <input type="text" class="form-control" placeholder="улица, дом, корпус, квартира">
  <br>
  <div class="delivery-params__fh">
    <div class="delivery-date-time__fh">
      <div class="date-time-title__fh">Дата доставки:</div>
      <uib-datepicker
        ng-model="deliveryCtrl.date"
        showWeeks="false"
      ></uib-datepicker>
    </div>
    <div class="delivery-date-time__fh">
      <div class="date-time-title__fh">Время доставки:</div>

      <div class="delivery-date-time__fh">
        <uib-timepicker
          ng-model="deliveryCtrl.timeFrom"
          show-meridian="false"
          minute-step="60"
          min="deliveryCtrl.minTime"
          max="deliveryCtrl.maxTime"
          ng-change="deliveryCtrl.checkTime()"
        ></uib-timepicker>
      </div>

      <div class="delivery-date-time__fh">
        <uib-timepicker
          ng-model="deliveryCtrl.timeTill"
          show-meridian="false"
          minute-step="60"
          min="deliveryCtrl.minTime"
          max="deliveryCtrl.maxTime"
          ng-change="deliveryCtrl.checkTime()"
        ></uib-timepicker>
      </div>
    </div>
  </div>
  <br><br>
</div>
<div ng-if="deliveryCtrl.needDelivery !== undefined">
  Комментарии (не обязательно):
  <textarea class="form-control" rows="4" ng-model="deliveryCtrl.comments"></textarea>
  <br>
</div>