<div>
  <h3 class="text-center title">Фотографии</h3>
  <button ng-click="itemsCtrl.uploadFiles()" class="btn btn-default btn-next__fh">
    Дальше
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>
</div>
<div class="form-group" style="display: inline-block;">
  <input type="file" id="input-file" file-change multiple accept="image/jpeg">
  <button class="btn btn-default" ng-click="fileSelectCtrl.selectFiles()">
    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
    Выбрать файлы...
  </button>

  <div class="btn-group" uib-dropdown is-open="status.isopen">
    <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
      Все по ... <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <li role="menuitem" ng-repeat="i in [1,2,3,4,5,6,7,8,9]" ng-click="itemsCtrl.allX(i)">
        <a>{{i}}</a>
      </li>
    </ul>
  </div>
</div>
