<div class="item__fh">
  <div class="panel panel-default">
    <div class="panel-heading">{{itemCtrl.fileName | limitTo: 36}}</div>
    <div class="panel-body">
      <div style="width: {{itemCtrl.width}}px;
           height: {{itemCtrl.height}}px;
           background: url({{itemCtrl.thumb}}) center center;
           background-size: cover;
           margin: 0 auto;">
        <img src="img/masks/{{itemCtrl.mask}}" ng-if="itemCtrl.mask">
      </div>
    </div>
    <div class="panel-footer">
      <button class="btn btn-default" ng-click="itemCtrl.decQnt()">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
      <input type="text" class="item-qnt__fh" ng-model="itemCtrl.item.qnt">
      <button class="btn btn-default" ng-click="itemCtrl.incQnt()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </div>
</div>