<h3 class="text-center title">Тип продукции</h3>
<div class="item__fh" ng-repeat="subtype in subtypesCtrl.subtypes">
  <a ng-click="subtypesCtrl.nextStep(subtype)">
    <div class="panel panel-default">
      <div class="panel-heading" style="height: 62px; text-align: center; vertical-align: middle;">{{subtype.title}}</div>
      <div class="panel-body">
        <img ng-src="img/{{subtype.img}}" alt=""/>
      </div>
    </div>
  </a>
</div>
