<div>
  <h3 class="text-center">Контактные данные</h3>
  <button type="submit" class="btn btn-default btn-next__fh" ng-click="userCtrl.nextStep()">
    Дальше
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>
</div>
<form>
  <div class="form-group">
    <label for="fio">ФИО</label>
    <input type="text" class="form-control" id="fio" name="fio" placeholder="Ваше Имя" ng-model="userCtrl.fio">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Email" ng-model="userCtrl.email">
  </div>
  <div class="form-group">
    <label for="phone">Телефон</label>
    <input type="tel" class="form-control" id="phone" name="phone" placeholder="+7(123)456-78-90" ng-model="userCtrl.phone">
  </div>
</form>
